.select .main {
    display: inline-block;
    border: 1px solid black;
}

.items {
    position: absolute;
    padding: 5px;
    border: 1px solid black;
}

.item.selected {
    background-color: #5858da;
    color: white;
}