*,*::after,*::before{
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
}
body {
    background: rgb(238, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}